@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BTK AKADEMİ</h1><br />

    <p><a  class="btn btn-primary" asp-controller="Course" asp-action="Apply"></a>Apply</p>
</div>
